includeConfig 'conf/base.config'
includeConfig 'conf/params.config'
includeConfig 'conf/modules.config'

plugins {
    id 'nf-schema@2.3.0'
}

manifest {
    name            = 'Hydrasim'
    description     = 'Generate synthetic spiked-in metagenomic datasets.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.04.0'
    version         = 'v0.3.0'
}

profiles {
    docker {
        docker.enabled = true
    }
    test {
        includeConfig 'conf/test.config'
    }
    restrict {
        executor {
            queueSize = 12
        }
        process {
            withName: 'BADREAD_SIMULATE_SEGMENT|BADREAD_SIMULATE_WHOLE_REFERENCE' {
                maxForks = 4
            }
        }
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

env {
    HYDRASIM_UPLOAD_BUCKET = System.getenv('HYDRASIM_UPLOAD_BUCKET')
    AWS_ACCESS_KEY_ID      = System.getenv('AWS_ACCESS_KEY_ID')
    AWS_SECRET_ACCESS_KEY  = System.getenv('AWS_SECRET_ACCESS_KEY')
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.tracedir}/execution_timeline.html"
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.tracedir}/execution_report.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.tracedir}/execution_trace.txt"
}

dag {
    enabled   = true
    overwrite = true
    file      = "${params.tracedir}/pipeline_dag.html"
}
