process {
    withName: NCBI_DATASETS_DOWNLOAD_GENOME {
        storeDir = { params.reference_dir }
    }
    withName: SRACHA_GET {
        storeDir = { params.dataset_dir }
        ext.args = {
            '--no-progress'
        }
    }
    withName: BADREAD_SIMULATE_WHOLE_REFERENCE {
        publishDir = [
            path: { "${params.outdir}/${meta.ref_id}/${meta.id}/simulated" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x_simulated" }
        ext.args = {
            [
                "--length ${meta.badread_length}",
                "--identity ${params.badread_identity}",
                "--error_model ${params.badread_error_model}",
                "--qscore_model ${params.badread_qscore_model}",
                "--junk_reads ${params.badread_junk_reads}",
                "--random_reads ${params.badread_random_reads}",
                "--chimeras ${params.badread_chimeras}",
                "--glitches ${params.badread_glitches}"
            ].join(' ')
        }
    }
    withName: BADREAD_SIMULATE_SEGMENT {
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x_${meta.segment_id}" }
        ext.args = {
            [
                "--length ${meta.badread_length}",
                "--identity ${params.badread_identity}",
                "--error_model ${params.badread_error_model}",
                "--qscore_model ${params.badread_qscore_model}",
                "--junk_reads ${params.badread_junk_reads}",
                "--random_reads ${params.badread_random_reads}",
                "--chimeras ${params.badread_chimeras}",
                "--glitches ${params.badread_glitches}"
            ].join(' ')
        }
    }
    withName: WGSIM_WGSIM {
        publishDir = [
            path: { "${params.outdir}/${meta.ref_id}/${meta.id}/simulated" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x_simulated" }
        ext.args = {
            [
                "-r ${params.wgsim_mutation_rate}",
                "-R ${params.wgsim_indel_fraction}"
            ].join(' ')
        }
    }
    withName: FASTQ_CONCAT_SEGMENTS {
        publishDir = [
            path: { "${params.outdir}/${meta.ref_id}/${meta.id}/simulated" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x" }
    }
    withName: FASTQ_CONCAT_BACKGROUND {
        publishDir = [
            path: { "${params.outdir}/${meta.ref_id}/${meta.id}/full" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x" }
    }
    withName: SEQKIT_STATS {
        publishDir = [
            path: { "${params.outdir}/${meta.ref_id}/${meta.id}/simulated" },
            mode: params.publish_dir_mode
        ]
        ext.prefix = { "${meta.ref_id}_${meta.id}_${meta.coverage}x_simulated" }
    }
    withName: SUMMARISE_SEQKIT {
        publishDir = [
            path: { params.outdir },
            mode: params.publish_dir_mode
        ]
    }
}
