params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Test dataset to check pipeline function'
    dataset_csv   = "${projectDir}/test/test_data/datasets.csv"
    reference_csv = "${projectDir}/test/test_data/references.csv"
    coverages             = '10'
    downsample_background = false
    tag_simulated_reads   = true
    badread_error_model   = 'nanopore2020'
    badread_qscore_model  = 'nanopore2020'
    badread_random_reads  = 0
    badread_junk_reads    = 0
    badread_length        = '2700,500'
    generate_metadata = true
    metadata_study_id = 'synthscape-test'
}
